<div class = "row">
  <br>
  <br>
  <br>
</div>

<h1 style="text-align:center"><%= image_tag("icon.png", height: 50, class: 'image') %>Site Analytics<%= image_tag("icon.png", height: 50, class: 'image') %></h1>
<div class = "row">
  <br>
  <br>
  <br>
</div>

<h2><%= image_tag("icon.png", height: 100, class: 'image') %>Neighborhood with the most Raccoon Sightings: <%= Neighborhood.most_raccoons %></h2>