<div class="container">
  <div class="spacing-welcome">

  </div>
  <div class="row">
    <div class="col-sm">
    
    </div>
    <div class="align-middle">
    <h4>Welcome <%= @current_user.name.capitalize %></h4>
  </div>
  <div class="col-sm">
  
  </div>
  </div>
  <div class="row">
    <div class="col-sm">
    
    </div>
    
    <div class="align-middle">
    <%= image_tag("raccoon.png", height: 150, class: 'image') %><br>
    
    </div>
    
    <div class="col-sm">
    
    </div>
  </div>
</div>