<h3><%= @neighborhood.name %></h3>
<h4><%= @neighborhood.character %></h4>

<!-- All reports in this neighborhood -->
<!-- All users in this neighborhood -->
<!-- All locations in this neighborhood -->