

<div class="container">
  <div class="row">
    <div class="col">

    </div>
    <div class="col-6">
      <h3><%= @neighborhood.name %></h3>
      <h4><%= @neighborhood.character %></h4>
    </div>
    <div class="col">
      
    </div>
  </div>
</div>