body {
  background-color: #e0ffe9;
  font-family: "Raleway", sans-serif;
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
}
/* login column width */
.login-column {
  max-width: 450px;
}

.spacing {
  width: 100%;
  height: 300px;
  border-bottom: 1px solid black;
}
.spacing-welcome {
  height: 150px;
}

.track-iframe {
  display: block;
  margin: 0 auto;
  border: 0;
}

.nav-bar-title {
  font-family: "Permanent Marker", cursive;
  color: #6f7f74;
}
.but {
  background: none !important;
  border: none;
  padding: 0 !important;
  font: inherit;
}

.r-show-pic-size {
  height: 300px;
}

.spacing-raccoon-show {
  height: 100px;
  border-bottom: 1px solid black;
}
.home-link {
  color: #4e5951;
  text-decoration: none;
}

.home-link:hover {
  color: #00a0c6;
  text-decoration: none;
  cursor: pointer;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
