<h1>This is a collection of all filed reports.</h1>

<% @reports.each do |report| %>
<h2><%= report.user.name %></h2>
<li><%= report.time %></li>
<li><%= report.location %></li>
  <li><% report.raccoons.each do |raccoon| %></li>
    <li><%= raccoon.name %></li>
  <% end %>
<% end %>