  
  <div class="collapse" id="navbarToggleExternalContent">
    <div class=" p-4">

      <a class="nav-item nav-link active" href="/welcome">Home</a>
      <a class="nav-item nav-link active" href="/reports/new">Create a Report</a>
      <a class="nav-item nav-link active" href="/raccoons">See all Raccoons</a>
      <a class="nav-item nav-link active" href="/reports">See all Reports</a>
      
    </div>
  </div>
  <nav class="navbar nav-fixed">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" value="Menu">
      <span>Menu</span>
    </button>
   <h1 class="nav-bar-title"><%=link_to image_tag("raccoon.png", height: 50, class: 'image'), welcome_url%> Traccoon</h1>
    <%= form_tag ({controller: 'sessions', action: 'destroy', method: 'delete'}) do %>
    <input type="submit" value="logout" class="but">
    <% end %>
  </nav>
</div>

