<ul class="nav justify-content-center">

  <li class="nav-item">
    <a class="nav-link active" href="/welcome">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/reports/new">Create a Report</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/raccoons">See all Raccoons</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/reports">See all reports</a>
  </li>
</ul>