<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/welcome">Traccoon</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/reports/new">Create a Report</a>
      <a class="nav-item nav-link active" href="/raccoons">See all Raccoons</a>
      <a class="nav-item nav-link active" href="/reports">See all Reports</a>
    </div>
  </div>
</nav> -->


  <div class="collapse" id="navbarToggleExternalContent">
    
    <div class="bg-light p-4">
      <h5 class="text-black h4">Menu</h5>

      <a class="nav-item nav-link active" href="/welcome">Home</a>
      <a class="nav-item nav-link active" href="/reports/new">Create a Report</a>
      <a class="nav-item nav-link active" href="/raccoons">See all Raccoons</a>
      <a class="nav-item nav-link active" href="/reports">See all Reports</a>
      <a class="nav-item nav-link active" href="/login">Logout</a>
    </div>
  </div>
  <nav class="navbar navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>